.button {
  height: var(--line-height-m);
  border-radius: var(--card-border-radius);
  padding-left: var(--indentation-s);
  padding-right: var(--indentation-s);
  border: 0;
  font-size: medium;
  color: var(--color-white);
  margin: var(--indentation-s) 0 var(--indentation-s) var(--indentation-s);
}

.success {
  background-color: var(--color-success);
}
.danger {
  background-color: var(--color-danger);
}
.warning {
  background-color: var(--color-warning);
}
.primary {
  background-color: var(--color-primary);
}
.secondary {
  background-color: var(--color-secondary);
}
.success:hover {
  background-color: var(--color-success-hover);
}
.danger:hover {
  background-color: var(--color-danger-hover);
}
.warning:hover {
  background-color: var(--color-warning-hover);
}
.primary:hover {
  background-color: var(--color-primary-hover);
}
.secondary:hover {
  background-color: var(--color-secondary-hover);
}
.button:disabled{
  background-color: var(--color-gray);
}