.card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--color-light-blue);
  border-radius: var(--card-border-radius);
  width: 40vw;
  height: 45vh;
  margin: var(--indentation-xxl);
  box-shadow: var(--box-shadow);
}
.title {
  font-size: var(--line-height-m);
  margin: 8px 0 var(--indentation-xs) 0;
}
.transcription {
  margin-bottom: 10%;
}
