.header {
  display: flex;
  color: var(--color-dark);
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--box-shadow);
  height: 60px;
  border-radius: var(--card-border-radius);
  margin: var(--indentation-s) 20% var(--indentation-3xl) 20%;
  padding: 0 var(--indentation-l);
  background-color: var(--color-white);
}
.navigation {
  display: flex;
  justify-content: space-between;
  flex-basis: 80%;
}
.ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}
.ulItem {
  display: flex;
  align-items: center;
}
.link {
  text-decoration: none;
}
.logoText {
  text-transform: uppercase;
  font-size: var(--line-height-s);
  margin-left: var(--indentation-s);
}
.logo {
  display: flex;
  align-items: center;
}
